
.g-pa {
    position:absolute
}
.g-t0 {
    top:0px
}
.g-l0 {
    left:0px
}
.u-w0 {
    width:0px
}
.u-h0 {
    height:0px
}
.u-bdw0 {
    border-width:0
}
.s-bgc_t {
    background-color:transparent
}
.u-w686 {
    width:686px
}
.u-h324 {
    height:324px
}
.f-ov_h {
    overflow:hidden
}
.s-bgc_ffffff {
    background-color:rgba(255,255,255,1)
}
.f-bdr16 {
    border-radius:16px
}
.u-w718 {
    width:718px
}
.u-h145 {
    height:145px
}
.z-o40 {
    opacity:0.4000000059604645
}
.g-t187 {
    top:187px
}
.g-l32 {
    left:32px
}
.u-w385 {
    width:385px
}
.u-h50 {
    height:50px
}
.s-cr_313131 {
    color:rgba(49,49,49,1)
}
.g-fs36 {
    font-size:36px
}
.f-ff_PM {
    font-family:PingFangSC-Medium,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif
}
.f-tl {
    text-align:left
}
.g-lh_n {
    line-height:normal
}
.g-t207 {
    top:207px
}
.g-l518 {
    left:518px
}
.u-w136 {
    width:136px
}
.u-h56 {
    height:56px
}
.s-bgc_fe5d4e {
    background-color:rgba(254,93,78,1)
}
.f-bdr8 {
    border-radius:8px
}
.g-t218 {
    top:218px
}
.g-l538 {
    left:538px
}
.u-w96 {
    width:96px
}
.u-h33 {
    height:33px
}
.s-cr_ffffff {
    color:rgba(255,255,255,1)
}
.g-fs24 {
    font-size:24px
}
.f-ff_PR {
    font-family:PingFangSC-Regular,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif
}
.g-pr {
    position:relative
}
.g-t24 {
    top:24px
}
.u-w209 {
    width:209px
}
.s-cr_364a7f {
    color:rgba(54,74,127,1)
}
.g-t39 {
    top:39px
}
.g-l641 {
    left:641px
}
.u-w13 {
    width:13px
}
.u-h22 {
    height:22px
}
.g-t81 {
    top:81px
}
.u-w78 {
    width:78px
}
.u-h37 {
    height:37px
}
.g-fs26 {
    font-size:26px
}
.g-l130 {
    left:130px
}
.u-w26 {
    width:26px
}
.s-cr_fe5d4e {
    color:rgba(254,93,78,1)
}
.g-l176 {
    left:176px
}
.u-w58 {
    width:58px
}
.g-l254 {
    left:254px
}
.u-w156 {
    width:156px
}
.g-l410 {
    left:410px
}
.u-w104 {
    width:104px
}
.g-t243 {
    top:243px
}
.u-w129 {
    width:129px
}
.u-h41 {
    height:41px
}
.g-fs34 {
    font-size:34px
}
.f-ff_DM {
    font-family:DIN-Medium,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif
}
.g-t249 {
    top:249px
}
.g-l178 {
    left:178px
}
.u-w120 {
    width:120px
}
.s-cr_999999 {
    color:rgba(153,153,153,1)
}